{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Order Success</title>

<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

<div class="success-overlay">

    <div class="success-card">

        <div class="checkmark">✔</div>

        <h1>Order Placed!</h1>
        <p>Your order has been successfully placed.</p>

        <a href="/">
            <button class="success-btn">Back To Home</button>
        </a>

    </div>

</div>

</body>
</html>
